.main{
    width: 500pxpx;
    background-color: aqua;
}


h1{
    text-align: center;
    color: chocolate;
}
h2{
    padding-left: 20px;
}
h3{
    padding-left: 20px;
}
.child1{
    width: 200px;
    height: 200px;
  padding: 10px;
   border: 2px solid;
    background-color: aquamarine;
    display: flex;
   /* align-items:center;*/
   /* justify-content:center;*/
    gap: 20px;
   border-radius: 15px;
}
.itam1, .itam2, .itam3{
    height: 30px;
    width: 30px;
    padding: 10px;
    background-color: brown;
    border-radius: 10px;
    
   
}

.child2{
    width: 200px;
    height: 200px;
   border: 2px solid;
    background-color: aquamarine;
   gap: 10px;
  /* align-items: center;
    justify-content:center;*/
    gap: 20px;
   border-radius: 15px;
    flex-direction: column;
   padding: 10px;
   display: flex;
   
}
.child3{
    width: 200px;
    height: 200px;
   border: 2px solid;
    background-color: aquamarine;
   gap: 10px;
   /*align-items: center;
    justify-content:center;*/
    gap: 20px;
   border-radius: 15px;
    flex-direction: row-reverse;
   padding: 10px;
   display: flex;
   
}
.child4{
    width: 200px;
    height: 200px;
   border: 2px solid;
    background-color: aquamarine;
   gap: 10px;
   /*align-items: center;
    justify-content:center;*/
    gap: 20px;
   border-radius: 15px;
    flex-direction:column-reverse;
   padding: 10px;
   display: flex;
   
}
.child5{
    width: 200px;
    height: 200px;
   border: 2px solid;
    background-color: aquamarine;
   gap: 10px;
   align-items: start;
    justify-content:center;
    gap: 20px;
   border-radius: 15px;
    
   padding: 20px;
   display: flex;
   
}
.itam4, .itam5, .itam6{
  text-align: center;
    width: 30px;
 
   
    background-color: brown;
    border-radius: 10px;
    padding: 10px;

}
.child6{
    width: 200px;
    height: 200px;
   border: 2px solid;
    background-color: aquamarine;
   gap: 10px;
   align-items: center;
    justify-content:center;
    gap: 20px;
   border-radius: 15px;
    
   padding: 20px;
   display: flex;
   
}
.child7{
    width: 200px;
    height: 200px;
   border: 2px solid;
    background-color: aquamarine;
   gap: 10px;
   align-items: end;
    justify-content:center;
    gap: 20px;
   border-radius: 15px;
    
   padding: 20px;
   display: flex;
   
}
.child8{
    width: 200px;
    height: 200px;
   border: 2px solid;
    background-color: aquamarine;
   gap: 10px;
   align-items: stretch;
    justify-content:center;
    gap: 20px;
   border-radius: 15px;
   
   padding: 20px;
   display: flex;
   
}
.itam7, .itam8, .itam9, .itam10,.itam11,.itam12{
    
      width: 50px;
  /* height: 50px;*/
     
      background-color: brown;
      border-radius: 10px;
      padding: 5px;
  
  }
  .child9{
    width: 400px;
    height: 200px;
   border: 2px solid;
    background-color: aquamarine;
   gap: 10px;
    justify-content:flex-start;
    gap: 20px;
   border-radius: 15px;
   padding: 20px;
   display: flex;
  }
  .child10{
    width: 400px;
    height: 200px;
   border: 2px solid;
    background-color: aquamarine;
   gap: 10px;
    justify-content:center;
    gap: 20px;
   border-radius: 15px;
   padding: 20px;
   display: flex;
  }
  .child11{
    width: 400px;
    height: 200px;
   border: 2px solid;
    background-color: aquamarine;
   gap: 10px;
    justify-content:flex-end;
    gap: 20px;
   border-radius: 15px;
   padding: 20px;
   display: flex;
  }
  .child12{
    width: 400px;
    height: 200px;
   border: 2px solid;
    background-color: aquamarine;
   gap: 10px;
    justify-content:space-between;
    
    
   border-radius: 15px;
   padding: 20px;
   display: flex;
  }
  .child13{
    width: 400px;
    height: 200px;
   border: 2px solid;
    background-color: aquamarine;
   gap: 10px;
    justify-content:space-around;
    gap: 20px;
   border-radius: 15px;
   padding: 20px;
   display: flex;
  }
  .child14{
    width: 400px;
    height: 200px;
   border: 2px solid;
    background-color: aquamarine;
   gap: 10px;
    justify-content:space-evenly;
    gap: 20px;
   border-radius: 15px;
   padding: 20px;
  display: inline-flex;
  }
  .itam13, .itam14, .itam15, .itam16, .itam17,.itam18{
    width: 40px;
   
    background-color:brown ;
    text-align: center;
    padding: 20px;

   
  }
.child15{
    width: 600px;
    height: 200px;
    border: 2px solid;
    border-radius: 15px;
    padding: 20px;
    background-color: aquamarine;
    display: flex;
    gap: 20px;
   padding: 20px;
    align-content: flex-start;
    flex-wrap: wrap;
}
  .child16{
    width: 600px;
    height: 200px;
    border: 2px solid;
    border-radius: 15px;
    padding: 20px;
    background-color: aquamarine;
    display: flex;
    gap: 20px;
   padding: 20px;
    align-content: center;
    flex-wrap: wrap;
  }
  .child17{
    width: 600px;
    height: 200px;
    border: 2px solid;
    border-radius: 15px;
    padding: 20px;
    background-color: aquamarine;
    display: flex;
    gap: 20px;
   padding: 20px;
    align-content: flex-end;
    flex-wrap: wrap;
  }
  .child18{
    width: 600px;
   height: 200px;
    border: 2px solid;
    border-radius: 15px;
    padding: 20px;
    background-color: aquamarine;
    display: flex;
    gap: 20px;
   padding: 20px;
    align-content: stretch;
    flex-wrap: wrap;
  }
  .child19{
    width: 600px;
   height: 200px;
    border: 2px solid;
    border-radius: 15px;
    padding: 20px;
    background-color: aquamarine;
    display: flex;
    gap: 20px;
   padding: 20px;
    align-content: space-between;
    flex-wrap: wrap;
  }
  .child20{
    width: 600px;
   height: 200px;
    border: 2px solid;
    border-radius: 15px;
    padding: 20px;
    background-color: aquamarine;
    display: flex;
    gap: 20px;
    padding: 20px;
    align-content: space-around;
    flex-wrap: wrap;
  }